* {
	font-family: "ProFontWindows";
}

body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: #1c1e21;
	background-image: url("../../.wallpaper/trans-8");
	background-repeat: none;
	background-position: cover;
	background-size: 100% 100%;
}

h1, h2, h3, h4 {
	color: white;

}

#container {
	width: 60vw;
	height: 60vh;
	padding-top: 20vh;
	margin-left: 20vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.box {
	margin: 1em;
	padding: 1em;
}

.tuile {
	overflow: hidden;
	background-color: #E0E0E0;
	width: 200px;
	height: 100px;
	border: 1px solid white;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
}

.tuile .button {
	cursor: pointer;
	width: 100px;
	height: 100px;
	margin-top: -1px;
	margin-left: 160px;
	border-radius: 100vh;
	background-color: #E0E0E0;
	border: 1px solid white;
	-webkit-box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
	box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
	transition: 0.5s ease;
}

.tuile .button:hover {
	-webkit-box-shadow: -7px 0px 25px -7px rgba(0,0,0,0.85);
	-moz-box-shadow: -7px 0px 25px -7px rgba(0,0,0,0.85);
	box-shadow: -7px 0px 25px -7px rgba(0,0,0,0.85);
}

.text {
	float: left;
	font-size: 20px;
	width: 100px;
	height: 100px;
	padding-left: 20px;
	line-height: 100px;
	text-align: left;
	vertical-align: center;
	color: #1c1e21;
}

.but_link {
	font-family: "FontAwesome";
	font-size: 25px;
	justify-text: center;
	line-height: 100px;
	vertical-align: center;
	margin-left: 13px;
	color: #909090;
	transition: 0.5s ease;
	text-decoration: none;
}
.tuile > .button:hover > .but_link {
	color: #1c1e21;
}
